
build-left
build-right
build-single
chonkybois_build
build-left-micro/
build-right-micro/
build-single-micro/
chonkybois_build_micro/

.vscode/*
.build
.build-cache
utils/..build-cache
output/*
arduino-cli/*
!.vscode/tasks.json
firmware/keyboards/nyquist/keymaps/.DS_Store
firmware/keyboards/nyquist/.DS_Store
firmware/keyboards/.DS_Store
firmware/.DS_Store
.DS_Store
